@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body { font-family: Roboto, "Helvetica Neue", sans-serif; margin: 0; }
.container { padding: 16px; max-width: 1100px; margin: auto; }
.mat-elevation-z2 { box-shadow: 0 2px 4px rgba(0,0,0,0.12); }
